body {
    background-color: #FB6B6B;
    font-family: 'Recursive';
}

.home {
    flex-direction: column;
    margin: 20vh 10vw;
}

.home>img {
    width: 136px;
}

.logo {
    font-size: 36px;
    color: white;
    font-family: 'Righteous';
}

.home>button {
    width: 246px;
    height: 54px;
    font-size: 18px;
    color: #D70900;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.content {
    margin: 40px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header>img {
    width: 52px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carta {
    width: 90%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 0 15px;
}

.pergunta {
    height: 65px;
    margin-top: 30px;
    background: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    justify-content: space-between;
}

.questao {
    height: 100px;
    background: #FFFFD5;
    padding: 15px;
}

.questao>img {
    float: right;
    position: relative;
    top: 10px;
}

.botoes {
    justify-content: space-evenly;
}

.botoes>button {
    width: 30%;
    height: 38px;
    margin-top: 30px;
    font-size: 12px;
    border-radius: 5px;
    border-width: 0;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: white;
    font-size: 18px;
}
.red {
    background-color: red;
}

.orange {
    background-color: #FF922E;
}

.green {
    background-color: #2FBE34;
}
.hide {
    display: none;
}